---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pagination from "../../components/Pagination.astro";

// TODO This page works BUT maybe needs refinement

const seriesPosts = await getCollection("series");
const _seriesNames = new Set();
//

seriesPosts.forEach((seriesPost) => {
  _seriesNames.add(seriesPost.slug.split("/")[0]);
  //
});

const seriesNames = [..._seriesNames];

// From https://github.com/JustGoodUI/dante-astro-theme/blob/main/src/pages/projects/%5B...page%5D.astro
---

<BaseLayout
  title="Series"
  description="Explore series of posts. Experiment and learn with me!"
  showHeader={false}
>
  <h1
    class="mb-12 font-serif text-2xl italic leading-tight sm:mb-16 sm:text-4xl"
  >
    Series
  </h1>

  <ul>
    {
      seriesNames.map((seriesName) => (
        <li>
          <a href={`/series/${seriesName}`}>{seriesName}</a>
        </li>
      ))
    }
  </ul>

  <!-- <Pagination page={page} class="my-16 sm:my-24" /> -->
</BaseLayout>
